In [14]:
string1 = "My name is Sagar Alwani"
string2 = string1
print(string1)
print("This is copied string->",string2)
string2 = string1[0:3] + "favourite color is SkyBlue"
print(string2)
print(string1)
string2 = string1.replace("Sagar Alwani", "Kashish Arora")

print(string2)

My name is Sagar Alwani
This is copied string-> My name is Sagar Alwani
My favourite color is SkyBlue
My name is Sagar Alwani
My name is Kashish Arora

In [18]:
string2.find("Bish")

-1

In [19]:
string = "TOM & JERRY"

In [21]:
print(string)

string[0:3]

TOM & JERRY

'TOM'

In [25]:
sagar = ("Intersting", 1, 13.6)
sagar0, sagar1, sagar2 = sagar
print(sagar2, sagar1, sagar0)

13.6 1 Intersting

In [29]:
print(type(sagar[0]))
print(type(sagar[1]))
print(sagar[-4])

<class 'str'>
<class 'int'>

IndexError: tuple index out of range

In [30]:
sagar[0:2]

('Intersting', 1)

In [35]:
len(sagar[0])

10

In [47]:
numbers = (9, 7, 2, 4, 8, 6, 1, 3, 0, 5)
sorted(numbers)
print(numbers)
print(type(sorted(numbers)))

(9, 7, 2, 4, 8, 6, 1, 3, 0, 5)
<class 'list'>

In [39]:
tuple = (("nested", "tuple"), "1", ['sagar', 'astha', 'kashish', 'nitesh'],3.4)
print(tuple)

(('nested', 'tuple'), '1', ['sagar', 'astha', 'kashish', 'nitesh'], 3.4)

In [43]:
print(tuple[2][3])

nitesh

In [44]:
top = (-5, 1, -2)
print(top)

(-5, 1, -2)

In [59]:
k = sorted(top)
print(k)

[-5, -2, 1]

In [79]:
k = "".join(k)
print(k)

t   o   p

In [80]:
type(k)

str

In [81]:
print(k)

t   o   p

In [82]:
print("Getting started with Lists")

Getting started with Lists

In [83]:
L = ['Sagar', '1', '13.4', ['Alwani', '2'], 'Ananya']
print(L)

['Sagar', '1', '13.4', ['Alwani', '2'], 'Ananya']

In [87]:
print(L[3])

['Alwani', '2']

In [89]:
L[3:5]

[['Alwani', '2'], 'Ananya']

In [90]:
L.append(['pop', 14])

In [91]:
print(L)

['Sagar', '1', '13.4', ['Alwani', '2'], 'Ananya', ['pop', 14]]

In [92]:
L.append('Kharbooja')

In [93]:
print(L)

['Sagar', '1', '13.4', ['Alwani', '2'], 'Ananya', ['pop', 14], 'Kharbooja']

In [95]:
L.extend(['Kharbooja1', 'Tarbooj'])
print(L)

['Sagar', '1', '13.4', ['Alwani', '2'], 'Ananya', ['pop', 14], 'Kharbooja', 'Kharbooja', 'Tarbooj', 'Kharbooja1', 'Tarbooj']

In [96]:
L1 = L
print(L)

['Sagar', '1', '13.4', ['Alwani', '2'], 'Ananya', ['pop', 14], 'Kharbooja', 'Kharbooja', 'Tarbooj', 'Kharbooja1', 'Tarbooj']

In [97]:
L1.extend('Texas')
print(L1)
print(L)

['Sagar', '1', '13.4', ['Alwani', '2'], 'Ananya', ['pop', 14], 'Kharbooja', 'Kharbooja', 'Tarbooj', 'Kharbooja1', 'Tarbooj', 'T', 'e', 'x', 'a', 's']
['Sagar', '1', '13.4', ['Alwani', '2'], 'Ananya', ['pop', 14], 'Kharbooja', 'Kharbooja', 'Tarbooj', 'Kharbooja1', 'Tarbooj', 'T', 'e', 'x', 'a', 's']

In [98]:
L1 = L[:]

In [99]:
L1.append('India')
print(L1)
print(L)

['Sagar', '1', '13.4', ['Alwani', '2'], 'Ananya', ['pop', 14], 'Kharbooja', 'Kharbooja', 'Tarbooj', 'Kharbooja1', 'Tarbooj', 'T', 'e', 'x', 'a', 's', 'India']
['Sagar', '1', '13.4', ['Alwani', '2'], 'Ananya', ['pop', 14], 'Kharbooja', 'Kharbooja', 'Tarbooj', 'Kharbooja1', 'Tarbooj', 'T', 'e', 'x', 'a', 's']

In [100]:
print("Let's talk about Dictionaries")

Let's talk about Dictionaries

In [101]:
Dict = {"Sagar" : 0, "Alwani" : 1, "Arushi" : 2, "Vidhya" : 3 }
print(Dict)

{'Sagar': 0, 'Alwani': 1, 'Arushi': 2, 'Vidhya': 3}

In [104]:
Dict["Sagar"]

0

In [105]:
Dict["Shreya"] = 4
print(Dict)

{'Sagar': 0, 'Alwani': 1, 'Arushi': 2, 'Vidhya': 3, 'Shreya': 4}

In [106]:
Dict.keys()

dict_keys(['Sagar', 'Alwani', 'Arushi', 'Vidhya', 'Shreya'])

In [107]:
Dict.values()

dict_values([0, 1, 2, 3, 4])

In [108]:
Dict.items()

dict_items([('Sagar', 0), ('Alwani', 1), ('Arushi', 2), ('Vidhya', 3), ('Shreya', 4)])

In [111]:
type(Dict.items())

TypeError: 'builtin_function_or_method' object is not subscriptable

In [117]:
Dict["Sagar"] = 0

In [118]:
print(Dict)

{'Alwani': 1, 'Arushi': 2, 'Vidhya': 3, 'Shreya': 4, 'Sagar': 0}

In [125]:
#del Dict['Shreya']
print(Dict)
#Dict["Shreya"]

{'Alwani': 1, 'Arushi': 2, 'Vidhya': 3, 'Sagar': 0}

In [127]:
Dict.pop('Alwani')

1

In [128]:
print(Dict)

{'Arushi': 2, 'Vidhya': 3, 'Sagar': 0}

In [129]:
'Arushi' in Dict

True

In [130]:
'Sagar' in Dict

True

In [132]:
'Alwani' in Dict

False

In [133]:
print("Let's Walk through Sets")

Let's Walk through Sets

In [134]:
Set = {"Sagar", "Harshita", "Disco", "Club", "Ananya", "Rishika", "Cyra", "Myra", "Sanaya", "Disco", "Sagar"}
print(Set)

{'Rishika', 'Harshita', 'Cyra', 'Club', 'Disco', 'Sanaya', 'Myra', 'Ananya', 'Sagar'}

In [135]:
print("Repeated Elements are Eliminated")

Repeated Elements are Eliminated

In [143]:
Set1 = {1, 3, 5, 7, 9, 0}
Set2 = {0, 2, 4, 6, 8}
print(Set1)

{0, 1, 3, 5, 7, 9}

In [144]:
print(Set2)

{0, 2, 4, 6, 8}

In [145]:
Set_Intersection = Set1 & Set2
print(Set_Intersection)

{0}

In [146]:
Set1.union(Set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [147]:
print(Set1)

{0, 1, 3, 5, 7, 9}

In [148]:
Set_Union = Set1.union(Set2)

In [149]:
print(Set_Union)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [150]:
Set1.add(10)

In [151]:
print(Set1)

{0, 1, 3, 5, 7, 9, 10}

In [152]:
Set1.add(10)

In [153]:
print(Set1)

{0, 1, 3, 5, 7, 9, 10}

In [154]:
Set1.remove(10)
print(Set1)

{0, 1, 3, 5, 7, 9}

In [155]:
print("Now Let's talk about some cool concepts as Set Differences")

Now Let's talk about some cool concepts as Set Differences

In [157]:
print("Set1 - Set2 = ")
Set1.difference(Set2)

Set1 - Set2 =

{1, 3, 5, 7, 9}

In [158]:
Set3 = {1, 2, 3, 4, 5, 6, "Ridhanya"}
Set4 =  {5, 6, "Shorya", 7, "Shivi"}

In [159]:
print(Set3, Set4)

{1, 2, 3, 4, 5, 6, 'Ridhanya'} {'Shorya', 'Shivi', 5, 6, 7}

In [160]:
print("Set3 - Set4 = ")
Set3.difference(Set4)

Set3 - Set4 =

{1, 2, 3, 4, 'Ridhanya'}

In [161]:
print(Set3)

{1, 2, 3, 4, 5, 6, 'Ridhanya'}

In [162]:
print("Set4 - Set3 = ")

Set4 - Set3 =

In [164]:
Set4 = Set4.difference(Set3)
print(Set4)

{'Shorya', 'Shivi', 7}