In [1]:
#Dependency needed to install file
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\dell\anaconda3\lib\site-packages (1.2.0)

In [2]:
import pandas as pd

In [3]:
csv_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)

In [4]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [5]:
print("Using above we have shown first five rows")

Using above we have shown first five rows

In [7]:
#Now let's do it for a Excel File so
xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'
df = pd.read_excel(xlsx_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [8]:
# jo header dikh raha h na vo keys h dictionary key and jo rows h na vo as a list li gayi (as a value) respective key k liye

In [9]:
print("Let's access a column name Length and store it ina new data frame ")

Let's access a column name Length and store it ina new data frame

In [13]:
x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [14]:
x.head()

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33

In [16]:
x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [19]:
x = type(df[['Length']])
x

pandas.core.frame.DataFrame

In [20]:
print("Let's access multiple columns")

Let's access multiple columns

In [24]:
x = df[['Artist','Length','Genre']]
x

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [26]:
x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [28]:
print("What if we just need unique elements from table we use methods like iloc loc")

What if we just need unique elements from table we use methods like iloc loc

In [29]:
x = df['Length']

In [31]:
type(x)

pandas.core.series.Series

In [34]:
df.iloc[0, 0]
# it'll access the first row and column intersection value[row, column]

'Michael Jackson'

In [35]:
df.iloc[1, 0]

'AC/DC'

In [37]:
x.to_frame()

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [38]:
print("But we do have loc where we don't write the column as integer we type header name")

But we do have loc where we don't write the column as integer we type header name

In [43]:
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [42]:
df.loc[0, 'Artist']

'Michael Jackson'

In [44]:
df.loc[1, 'Released']

1980

In [45]:
print("What if we want to snlice the Data to get only some rows and colums")

What if we want to snlice the Data to get only some rows and colums

In [46]:
print("We have Slicing")

We have Slicing

In [47]:
df.iloc[0:2, 0:2]

            Artist          Album
0  Michael Jackson       Thriller
1            AC/DC  Back in Black

In [49]:
df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

In [51]:
print("Dhyan rakhna ki integers me n-1 aata h jaise 0:2 h to 0 to 2-1 aayega jabki columns(in loc) me agar Headers likhoge to waha tak aayenge")

Dhyan rakhna ki integers me n-1 aata h jaise 0:2 h to 0 to 2-1 aayega jabki columns(in loc) me agar Headers likhoge to waha tak aayenge

In [56]:
df.loc[0:2, 'Artist':'Album']

            Artist                      Album
0  Michael Jackson                   Thriller
1            AC/DC              Back in Black
2       Pink Floyd  The Dark Side of the Moon